#summaryReconciliationContainer {
  display: flex;
  justify-content: left;
}

#requestContainer, #responseContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
}

mat-form-field {
  width: 300px;
  
}

button {
  width: 100%;
}