<form [formGroup]="initForm" (ngSubmit)="sendPayment()">
  <div>
    <mat-form-field>
      <input matInput placeholder="Host Account" type="email" formControlName="hostAccount" />
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Language" formControlName="language">
        <mat-option value="tr">TR</mat-option>
        <mat-option value="en">EN</mat-option>
      </mat-select>
    </mat-form-field>
    <div formGroupName="payment">
      <mat-form-field>
        <input matInput placeholder="amount" type="number" formControlName="amount" />
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="3D Secure" formControlName="paymentSecurity">
          <mat-option value="THREED_SECURE">Yes</mat-option>
          <mat-option value="NON_THREED_SECURE">No</mat-option>
        </mat-select>
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="paymentMethodType">
          <th mat-header-cell *matHeaderCellDef> Payment Method Type </th>
          <td mat-cell *matCellDef="let element"> {{element.paymentMethodType}} </td>
        </ng-container>

        <ng-container matColumnDef="cardBrand">
          <th mat-header-cell *matHeaderCellDef> Card Brand </th>
          <td mat-cell *matCellDef="let element"> {{element.cardBrand}} </td>
        </ng-container>

        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef> Count </th>
          <td mat-cell *matCellDef="let element"> {{element.count}} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" type="button" (click)="removeInstallmentPlan(element)">
              Çıkar
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <button mat-raised-button color="accent" type="button" (click)="createInstallmentPlan()">Create Payment
        Plan</button>
    </div>

    <button mat-raised-button color="primary" type="submit">Send Payment</button>
  </div>
</form>